.btn-menu {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  position: relative;

  .change-menu {
    width: 150px;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
  }
}